body{
    font-family: 'Chilanka', cursive;
    color: black;
}
#top{
    border: 2px solid black;
    background-color: #9e9c9c;
}
.navbar-brand{
    font-size: 1.8em;
    font-weight: bold;
    color: black;
}
body div h2{
    margin: 20px;
}
#navbarSupportedContent{
    border: 0px solid black;
    border-top: 2px;
    background-color: aliceblue;
}
#navbarSupportedContent ul li{
    border: 2px solid black;
    font-size: 1.2em;
    color: black;
    background-color: white;
}
#navbarSupportedContent ul li a{
    font-size: 1.2em;
    font-weight: 500;
    color: black;
}
.navbar-toggler{
    border:2px solid black;
    transition-property: none;
    width: 40px;
    padding: 0px;
    padding-top:3.5px;
   
}
.navbar-toggler span svg{
    margin: 0px;
    font-size: 1.4em;
}

.navbar-toggler:hover{
    border:2px solid white;
    transition-property: none;
    
}
.navbar-toggler span svg:hover{
    color: white;
}
.row div h3,h2{
    font-weight: bold;
}






